$메인칼라 : #2a4cb2;
$서브칼라 : #eeeeee;
$기본사이즈 : 20px;

@use 'reset';

.background {
  background-color: $메인칼라;
}

.box {
  color: $서브칼라;
}

// 셀렉터 대신 쓰는 Nesting
.main-bg {
  width: 100px;
  h4 {
    font-size: 16px;
  }
  button {
    color: red;
  }
}

// 이미 있는 클래스를 확장하는 @extend 
%btn {
  width: 100px;
  height: 100px;
  padding: 20px;
}

.btn-green { 
  @extend %btn;
  color: green;
}

.btn-red {
  @extend %btn;
  color: red;
}

.btn-blue {
  @extend %btn;
  color: blue
}


@mixin 폰트스타일($구멍, $구멍2){
  font-size: $구멍;
  letter-spacing: $구멍2;
}

h2 {
  @include 폰트스타일(40px, 4px);
  color: reset.$냠냠;
}

h3 {
  @include 폰트스타일(30px, 5px);
}

h4 {
  font-size: 10px;
  letter-spacing: -1px;
}

.sh-list {
  li {
    list-style: none;
    padding: 15px;
    // margin: 50px;
    border: 1px solid #eee;
  } 
  .active:hover{
    background-color: skyblue;
    color: white;
  }
}

.alert-box-green {  
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #eee;
  background: green;
  color: white;
}

.alert-box-orange {
  @extend .alert-box-green;
  background: orange;
}

.alert-box-blue {
  @extend .alert-box-green;
  background: skyblue;
}

div {
  box-sizing: border-box;
}

@mixin column($변수){
  float: left;
  width: $변수;
  padding: 15px;
}

.row .col-6 {
  @include column(50%)
}

.row .col-4 {
  @include column(33.33%)
}